<header class="header">
    <div class="container">
        <h1>Your Application Name</h1>
        <nav>
            <ul>
                <!-- <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li> -->
                <li>
                    <button (click)="handleLogout()">Logout</button>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="dashboard-main-section">
    <h1>Dashboard</h1>
</section>